body {
  background-color: #000;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  padding: 2rem;
}

h1,
h2,
h3 {
  font-family: "Noto Serif", serif;
}

a {
  color: #f542ce;
  text-decoration: none;
}

a:visited {
  color: #32f0ed;
}

a:active {
  color: #fff;
}

a:hover {
  text-decoration: underline;
}

code {
  color: #32f0ed;
  font-size: 1.2rem;
}
